.layui-footer{
    text-align: center;
    font-size: 12px;
}
.iconfont{
    margin-right: 8px;
}
.layui-icon{
    margin-left: 20px;
    margin-right: 8px;
}
.layui-body{
    overflow: hidden;
}
iframe{
    width: 100%;
    height: 100%;
}
.layui-side-scroll .userinfo{
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #000;
    user-select: none;
}
.userinfo img{
    width: 40px;
    height: 40px;
}
.text-avatar{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #009688;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}
.welcome{
    color: #fff;
}